@font-face {
    font-family: elegant;
    src: url(/font/JandaElegantHandwriting.ttf);
}

@font-face {
  font-family: dfk-font;
  src: url(/font/kaiu.ttf);
}

@font-face {
  font-family: dillenia-font;
  src: url(/font/upcdl.ttf);
}

body {
  background-color: maroon !important;
  font-family: dillenia-font;
  font-size: 2.2em;
}

p {
  margin: 10px 30px;
}

p.buffer-top {
  margin: 40px 30px;
}

.container {
  /*background-color: white !important;*/
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 37px -1px rgba(0,0,0,0.75);
  min-height: 100vh;
  max-width: 900px;
  position: relative;
  /*background-image: url(/img/just_beige_light_beige_n-tileable.jpg);*/
  background-color: beige;
}

.page-header .dillenia-font {
  position: relative;
  bottom: 5px;
}

.rsvp-controls {
  margin: auto;
  margin-top: 46px;
  width: 370px;
  border-width: 2px;
  border-style: solid;
  padding: 29px;
  box-sizing: content-box;
  background-color: white;
  border-color: rgba(207, 182, 59, 0.35);
  
  -webkit-box-shadow: 0px 0px 37px -1px rgba(215, 188, 61, 0.71);
  -moz-box-shadow: 0px 0px 37px -1px rgba(215, 188, 61, 0.71);
  box-shadow: 0px 0px 37px -1px rgba(215, 188, 61, 0.71);
/*  background: 
   url(/img/corner-swirl-gold-hi.png) 600px 10px no-repeat,
   url(/img/corner-swirl-gold-hi-rotated.png) 10px 10px no-repeat,
   url(Paper-4.png);*/
   height: 218px;
}

.rsvp-controls:before {
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(/img/corner-swirl-gold-hi-rotated.png);
  background-size: 96px;
  background-repeat: no-repeat;
  position: absolute;
  left: 225px;
  top: 198px;
}

.rsvp-controls:after {
  content: "";
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url(/img/corner-swirl-gold-hi.png);
  background-size: 96px;
  background-repeat: no-repeat;
  position: absolute;
  left: 579px;
  top: 411px;
}

.rsvp-controls .btn-basic {
  position: relative;
  left: 270px;
  bottom: 24px;
}

.rsvp-controls input[type="radio"] {
  width: 2rem;
  height: 2rem;
}

.rsvp-error {
  color: red;
}

.elegant {
  font-family: elegant;
  font-size: 2.5rem;
  font-weight: normal;
}

.elegant-input {
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #625C5C;
  font-size: 2.5rem;
  font-family: elegant;
}

.elegant-input.long {
  max-width: 78%;
}

.input-label strong{
  text-align: right;
}

.input-grid {
  display: inline-block;
  width: 200px;
}

.grid-small {
  display: inline-block;
  width: 150px;
}

.align-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.dfk-font {
  font-family: dfk-font;
}

.dillenia-font {
  font-family: dillenia-font;
}

.bold {
  font-weight: bold;
}

input[type="text"].tiny {
  width: 35px;
}

.input-group {
  width: 100%
}


.btn-basic {
  background: #b35026;
  background-image: -webkit-linear-gradient(top, #b35026, #803028);
  background-image: -moz-linear-gradient(top, #b35026, #803028);
  background-image: -ms-linear-gradient(top, #b35026, #803028);
  background-image: -o-linear-gradient(top, #b35026, #803028);
  background-image: linear-gradient(to bottom, #b35026, #803028);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 0px 0px 9px #000000;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ba9832 2px;
  text-decoration: none;
  z-index: 1002;
}

.btn-basic:not([disabled]):hover {
  background: #c75d2c;
  text-decoration: none;
}

.btn-basic.small {
  padding: 3px 10px;
}

hr {
  border-color: rgb(224, 207, 137);
}

.button-success {
  color: white;
  background: green !important;
  animation-duration: .2s;
  animation-name: button-success;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.button-success:hover {
  color: white;
  background-color: green !important;
}

.rsvp-greeting {
  margin-left: 6px;
  font-family: dillenia-font;
  font-size: 30px;
  color: green;
  position: relative;
  bottom: 24px;
}

@keyframes button-success {
  0% {
    left: 270px;
  }

  100% {
    left: 0px;
  }
}

.center-area {
  text-align: center;
}

.center-area img {
  max-width: 500px;
  max-height: 500px;
}

@media (max-width: 550px) {
  .center-area img {
    width: 280px;
  }
}

.jm-image {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(224, 207, 137);
  -webkit-box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
}

.lbl-fix {
  display: inline;
  font-weight: normal;
}

.admin-pane {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 37px -1px rgba(0, 0, 0, 0.38);
}

.admin-pane .table td, .admin-pane .table th {
  text-align: center;
}

.rspv-delete {
  opacity: .6;
}

.rspv-delete:hover {
  transition-property: opacity;
  transition-duration: 100ms;
  opacity: 1;
  cursor: pointer;
}

#credits-list {
  list-style: none;
}

#credits-list a {
  position: relative;
}

.credits-preview-container {
  width: 200px;
  position: absolute;
  bottom: 35px;
  background-color: white;
  display: none;
  opacity: .9;
  padding: 5px;
  border-radius: 3px;
}

.credits-preview-image {
  width: 100%;
}

#credits-list a:hover .credits-preview-container {
  display: block;
}

#map {
  height: 400px;
  width: 800px;
  margin: auto;
}

/*Bootstrap overides*/

.page-header {
  border-bottom: 0px !important;
}

/*Responsive styles*/
@media (max-width: 992px) {
  .rsvp-controls:before {
    left: 150px;
  }
  .rsvp-controls:after {
    left: 505px;
  }
  #map {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .rsvp-controls:before {
    display: none;
  }
  .rsvp-controls:after {
    display: none;
  }
  #map {
    width: 400px;
  }
}

@media (max-width: 450px) {
  #map {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 464px) {
  .rsvp-controls {
    width: auto;
    height: auto;
    font-size: 11px;
  }
  .elegant-input.long {
    width: 100%;
  }
  #submit-rsvp {
    left: 0px;
    right: 0px;
    margin-top: 22px;
  }
  .rsvp-greeting {
    display: block !important;
  }
}

#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}