extends layout

block content
	div(class="admin-pane")
		table(id="response-list" class="table table-hover")
			tr
				th
					span Name
				th
					span Attending
				th
					span Number
				th
					
			each response in responseList
				tr(guid="#{response._id}")
					td
						span #{response.name}
					td
						span #{response.attending}
					td
						span #{response.numberAttending}
					td
						// button(class="rspv-delete")
						span(class="glyphicon glyphicon-remove rspv-delete")