extends layout

block content
	div(class="admin-pane")
		table(id="response-list" class="table table-hover")
			tr
				th
					span Name
				th
					span Attending
				th
					span Number
			each response in responseList
				tr
					td
						span #{response.name}
					td
						span #{response.attending}
					td
						span #{response.numberAttending}