extends layout

block content
	h4 The various pieces of awesomeness that drive this site:
	ul
		li
			a(href="https://nodejs.org/") Node JS
			span  - Server-side grunt work
		li
			a(href="http://expressjs.com/") Express for Node
			span  - MVC framework allowing for the rapid development of this site.
		li
			a(href="http://jade-lang.com/") Jade HTML Templating Engine
			span  - Templating engine for express allowing for a heirarchical page inheritance model.
		li
			a(href="http://getbootstrap.com/") Bootstrap
			span  - Css and Js frameworks for UI.