extends layout

block content
	h4 The various pieces of awesomeness that drive this site:
	ul
		li
			a(href="https://nodejs.org/" target="_blank") Node JS
			span  - Server-side grunt work
		li
			a(href="http://expressjs.com/" target="_blank") Express JS
			span  - MVC framework allowing for the rapid development of this site.
		li
			a(href="http://jade-lang.com/" target="_blank") Jade HTML Templating Engine
			span  - Templating engine for Node allowing for a heirarchical page inheritance model.
		li
			a(href="http://getbootstrap.com/" target="_blank") Bootstrap
			span  - Css and Js frameworks for UI.
		li
			a(href="https://www.mongodb.org/" target="_blank") Mongo DB for data storage
			span  - Mongo DB cloud hosting.
		li
			a(href="https://mongolab.com/" target="_blank") MongoLab
			span  - Mongo DB cloud hosting.