extends layout

block content
	div(class="center-area")
		div(class="jm-image")
			img(src="/img/20150823_124049_2.jpg")
		p(class="buffer-top")
			span We wish to thank all of you who made the wedding a success. Especially those involved in setting up and cleaning the reception hall. Your hard work is very much appreciated. Thank you.