extends layout

block content
	// script(src="http://maps.googleapis.com/maps/api/js")
	// script
	// 	function initialize() {
	// 		var mapProp = {
	// 			center:new google.maps.LatLng(51.508742,-0.120850),
	// 			zoom:5,
	// 			mapTypeId:google.maps.MapTypeId.ROADMAP
	// 		};
	// 		var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	// 	}
	div(class="center-area")
		div(class="jm-image")
			// img(src="/img/Joe and Mary 2.jpg")
			img(src="/img/20150823_124049_2.jpg")
		p(class="buffer-top")
			span Thank you for visiting our website. Please click 
			a(href="/rsvp") here
			span  to Rsvp.
			
		p
			span We are registered at 
			a(href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542378838&pwsurl=" target="_blank") Bed Bath & Beyond
			p
				span Registry name: William Pfeiffer or Mary Springer
			p Registry #: 542378838
			
		// div(id="googleMap" style="width:500px;height:380px;")