extends layout

block content
	div(class="center-area")
		div(class="jm-image")
			img(src="/img/20150823_124049_2.jpg")
		p(class="buffer-top")
			span Thank you for visiting our website. Please click 
			a(href="/rsvp") here
			span  to Rsvp.
		p
			span We are registered at 
			a(href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542378838&pwsurl=" target="_blank") Bed Bath & Beyond:
			p
				span Registry name: William Pfeiffer or Mary Springer
			p Registry #: 542378838
		p
			span As well as 
			a(href="http://www.target.com/gift-registry/giftgiver?registryId=K678ZCYBF1j2_a6KeWS-Hg&registryType=WEDDING" target="_blank") Target
			p Registry name: William Pfeiffer or Mary Springer