doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
      link(rel='stylesheet', href='/css/style.css')
  body
    div(class="container")
      nav(class="navbar navbar-default")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#nav-list", aria-expanded="false")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand", href="/index")
              img(alt="Logo", src="/img/Logo.jpg" style="max-width: 30px;max-height: 30px;margin-left:-5px;margin-top:-5px;border-radius:4px;")
          div(class="collapse navbar-collapse" id="nav-list")
            ul(class="nav navbar-nav")
            
              if alias == "Home"
                li(class="active")
                  a(href="/index") Home
              else
                li
                  a(href="/index") Home
                  
              // if alias == "Rsvp"
              //   li(class="active")
              //     a(href="/rsvp") RSVP
              // else
              //   li
              //     a(href="/rsvp") RSVP
              // if alias == "Info"
              //   li(class="active")
              //     a(href="/info") Info
              // else
              //   li
              //     a(href="/info") Info
              if alias == "Credits"
                li(class="active")
                  a(href="/credits") Credits
              else
                li
                  a(href="/credits") Credits
    
      div(class="page-header")
        h1(class="uppercase dfk-font") #{title} | 
          small(class="dillenia-font")= heading
        hr
      block content

block js
      script(src='js/jquery-2.1.4.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
      script(src='/js/main.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')