extends layout

block content
	form
		div(class="rsvp-controls")
			div(class="input-group")
				label(for="rsvp-name" class="lbl-fix")
					span(class="elegant") M: 	
				input(type="text" id="rsvp-name" class="elegant-input long")
			br
			div(class="input-group")
				input(id="accept" type="radio" name="accept-or-decline")
				label(for="accept" class="lbl-fix")
					span(class="elegant")  Accepts with pleasure # 
				input(type="text" id="rsvp-attending" class="elegant-input tiny" maxlength="2")
			br
			div(class="input-group")
				input(id="decline" type="radio" name="accept-or-decline")
				label(for="decline" class="lbl-fix")
					span(class="elegant")  Declines with regret 
			br
			button(id="submit-rsvp" class="btn-basic small dfk-font")
				span(id="submit-rsvp-text") Submit
